* {
    font-family: 'Abril Fatface', cursive;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

#map{
    height: 90vh;
    width: 80%;
    float: right;
}
header{
    width: 80%;
    float: right;
    background-color: #521b35;    
    text-align: center;
    justify-items: center;
    color: #fff;
    
}

.sidebar {
    background-color: #521b35;
    width: 20%;
    float: left;
    height: 100vh;

    
}

#menuitems{
    display: block;
    text-align: center;
    margin-top: 9vh;
    justify-content: center;
    
    
}
#menuitems h2{
    height: 8vh;
    border: 0px solid;
    color: aliceblue;
    /* border-radius: 20px; */
    text-align: center;
    padding-top: 15px;
    background-color: #521b35
    
}
#menuitems h2:hover{
    background-color: #521b35;
    /* border-radius: 20px; */
    color: #fff;
    transition: 0.7s;
    /* box-shadow: 0px 2px 10px 0px;  */
}
p {
    color: #fff;
    font-size: xx-small;
}